## NS params (cm and Msun)
#Param	Value
R	1e6
M	1.4
# Initial NS parameters (G, s, degrees), P and B can be multiple values tab separated
B	1e11	1e12

P	2	200
# for now we do not account for chi!=0, so this parameter has no effect
chi	0
alpha	0
# Mdot (in Eddington units)
mdot	26.75	2675
#26.78	2675
# e_wind (between 0 and 1)
e_wind	0.8
# Magnetic field decay law (Payne, Shibazaki or Zhang, multiple space separated are possible as well)
laws	Payne
# Maximum time (years) and steps (100000 is typically enough, in my calcs found that 20,000 vs 10,000 made no diff). However, for very strong magnetic fields you may need 50,000 or more to avoid the calculation from breaking
tmax	1e6
steps	90000
# for the misalignment I've tried going as high as 500000 samples and the results are consistent
# Alignment parameter
eta	0.1
# Magnetosphere parameters
gamma	1
delta	.1
psi	0.5
